attrs==23.2.0
Automat==22.10.0
buildtools==1.0.6
causal-conv1d==1.3.0.post1
certifi==2022.12.7
charset-normalizer==2.1.1
constantly==23.10.4
contourpy==1.2.1
cycler==0.12.1
docopt==0.6.2
einops==0.8.0
filelock==3.13.1
fonttools==4.53.0
fsspec==2024.2.0
furl==2.1.3
greenlet==3.0.3
huggingface-hub==0.23.4
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
Jinja2==3.1.3
kiwisolver==1.4.5
mamba-ssm==2.1.0
MarkupSafe==2.1.5
matplotlib==3.9.0
monai==1.3.1
mpmath==1.3.0
networkx==3.2.1
nibabel==5.2.1
ninja==1.11.1.1
numpy==1.26.3
orderedmultidict==1.0.1
packaging==24.1
pillow==10.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
redo==2.0.4
regex==2024.5.15
requests==2.28.1
safetensors==0.4.3
simplejson==3.19.2
six==1.16.0
SQLAlchemy==2.0.31
sympy==1.12
tokenizers==0.19.1
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1+cu118
tqdm==4.66.4
transformers==4.41.2
triton==2.1.0
Twisted==24.3.0
typing_extensions==4.9.0
urllib3==1.26.13
zope.interface==6.4.post2
